<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5740484175-89gjs98ovchm382l0lsivp746uf6o4pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5740484175-89gjs98ovchm382l0lsivp746uf6o4pe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5740484175-ppohfj7tc2k4dlc8j8np4rh0ijne8ggq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEvRtQKg7UP-0p5Ln2P51TZ5gQA3ViSuY</string>
	<key>GCM_SENDER_ID</key>
	<string>5740484175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.tabs</string>
	<key>PROJECT_ID</key>
	<string>tabs-b303e</string>
	<key>STORAGE_BUCKET</key>
	<string>tabs-b303e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5740484175:ios:b59900eb5440a69f237c3a</string>
</dict>
</plist>